/*共有样式*/
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	background-color:#DCDCDC ;
	/*padding: 1%;*/
}
#top-common-banner{	
	background-color: #eee;
}
#top-common-banner a{
	margin-left:80px;
}
#top_part{
    height: 40px;
	font-size: 6px;
	background-color: #eee;
	line-height: 40px;
}
#top_part span{
	margin-left:90px;
}
#top_part .tp{
	/*margin-right:110px;*/
	cursor: pointer;
}
#login{
	margin-left:186px;
	color: red;
	border: none;
	background-color: #eee;
	cursor: pointer;
}
.register{
	border: none;
	background-color: #eee;
	cursor: pointer;
}
#search_part{
	width:100% ;
	height: 100px;
	/*float: left;*/
	position: relative;
}
#search_part #logo {
	left: 80px;
	width: 280px;
	position: absolute;
}
#search_part #logo img{
	width: 280px;
	display: block;
}

#search_part .search{
	top:20px;
	width: 500px;
	position: absolute;
	left: 350px;
	height: 40px;
	border: 2px solid red;
	border-radius: 5px;
	line-height: 40px;
}
#search_part .search input{
	border:none ;
	border-color: red;
	width: 400px;
	font-size:14px ;
	line-height: 40px;
	outline:none
}
#search_part .search button{
	top: 0px;
	position: absolute;
	right: 0;
	border: none;
	background: red;
}
#search_part #applogo{
	top:15px;
	position: absolute;
	right: 190px;
}
#search_part ul{
	left: 400px;
	top:65px;
	list-style: none;
	position: absolute;
	/*float: left;*/
	font-size:6px ;
}

#search_part #navTop li{
	list-style: none;
	float: left;
	margin-left: 20px;
	color: lightsteelblue;
	cursor: pointer;
}
#search_part #navTop li a{
	color: lightsteelblue;
	text-decoration: none;
}
header{
	position:relative;
	background: white;
	/*background: url(../img/6f51d290b4f7c535931192b8eb2c0263_u=3293024407,1960309523&fm=27&gp=0.jpg);*/
}
header #page{
	height: 40px;
	background: red;
	margin-top: 10px;
	/*position: absolute;*/
	width:87% ;
}
header #page span{
	margin-top: 10px;
	margin-left:20px;
	border-radius: 20px;
	line-height:40px ;
	padding: 10 10px;
	height:30px ;
	font-size: 20px;
	/*background: white;*/	
}
header #page section{
	left: 100px;
	position: absolute;
}
header #page span.white{
	background: white;
	border: 1px solid white;
}
header #page span.white a{
	color: red;
}
header #page span a{
	margin: 10px 10px;
	color: white;
	text-decoration:none
}
/*购物下拉菜单部分*/
#top_part #dropDownMenu{
	position: fixed;
	/*margin-right: 40px;*/
	/*float: right;*/
	margin-left:17%;
	background: url(../img/cartimg.png)no-repeat;
	background-size:70px ;
	padding:10px ;
	/*padding-right:80px ;*/
	width: 40px;
	height: 40px;
	color: blueviolet;
}

#cartA{
	text-decoration: none;
	color: deeppink;
}
.pullcart{
	margin-left:77%;
	top:100px;
	width:160px;
	/*float: left;*/
	background: lightpink;
	opacity: 0.6;
	position:fixed;
	/*display: none;*/
}
.pullcart div{
	float: left;
	border-bottom: 2px solid red;
	/*height: 100px;*/
}
#top_part .pullcart span{
	margin-left: 0;
	line-height: 15px;
	float: left;
	width: 100%;
	/*height: 40px;*/
	font-size:6px ;
}
.pullcart img{
	float: left;
	width: 40px;
	height: 40px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*底部共有样式*/
footer{
	width: 100%;
	/*position:absolute;*/
	/*margin-top:95%;*/
	margin-bottom: 10px;
	/*height: 400px;*/
	background: black;
	bottom: 10px;
}
footer #bottom_part .bottom_nav{
	width: 100%;
	float: left;
	/*position:absolute;*/
	top: 0;
	bottom: 0;
	color: white;
	margin: auto 5%;
}
footer span{
	float: left;
	margin:30px 70px;
	width: 85px;
	bottom: 170px;
	font-size:20px ;
	/*position:absolute;*/	
}
footer span a{
	font-size: 14px;
		text-decoration:none;
		color: white;
}
footer span img{
	width: 140px;
	height: 180px;
}
footer #bottom_part .etao-link .etao-link-list{
	left:100px;
	bottom: 100px;
	/*position: absolute;*/
	text-align: center;
		font-size: 10px;
		color: #aaa;
}
footer #bottom_part .etao-link .etao-link-list .dib{
		text-decoration:none;
		margin-left:15px ;		
		color: #aaa;
}
footer .etao-copyright{
	/*position: absolute;*/
	bottom: 40px;
	margin:10 50%;
	left:550px;
	font-size: 8px;
	height: 10px;
	color: #aaa;
}
footer #bottom_part .etao-link p{
	/*position: absolute;*/
	left:560px;
	font-size: 8px;
	width: 500px;
	height: 20px;
	bottom:14px ;
	color: #aaa;
	margin: 5px 40%;
	
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*详情部分*/
#show_part {
	position: relative;
	/*height:800px;*/
}

#show_part #box{
	 position: absolute;
      top: 100px;
      left: 600px;
}

#show_part ul li{
	list-style: none;
	line-height: 40px;
}

#show_part ul li h1{
	color: #FF4500;
}
/*放大镜样式*/
#show_part ul li a{
	font-size: 18px;
	font-weight: 800;
}
#show_part ul li .oP{
	color: red;
	font-size: 18px;
	font-weight: 800;
}

#crat{
	width: 80px;
	padding: 15px;
	margin:10px 50% ;
	background: #FF4500;
	cursor: pointer;
	border: none;
	color: white;
}


#show_part section{
      width: 350px;
      height: 350px;
      border: 1px solid #ccc;
      /*margin: 100px;*/
      /*position: relative;*/
    }
    
#show_part section img{
	 width: 350px;
      height: 350px;
}    
#show_part section aside{
      width: 175px;
      height: 175px;
      background: rgba(0,155,58,.5);
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #000000;
    }
    article{
      width: 400px;
      height: 400px;
      /*background: url(../img/da.jpg)no-repeat;*/
      background-size: 800px;
      position: absolute;
      top: 100px;
      left: 500px;
      border: 1px solid #000;
      display: none;
    }
 #guanggao{
 	margin-left:1% ;
 	float: left;
 	width: 30%;
 }
 #right_fixed{
 	width: 160px;
 	height:450px ;
 	position: fixed;
 	margin-left:88% ;
 	display: block;
 }  
 table{
 	margin-left: 32%;
 	width: 53%;
 	border: 1px solid #B0C4DE;
 }
 
 tr,td{
 	font-size: 10px;
 	line-height: 20px;
 border: none;	
 }
 th{
 	color: orangered;
 	line-height: 40px;
 	font-size: 20px;
 }
 .titleTr td{
 	color: #808080;
 	line-height: 40px;
 	font-size: 18px;
 }
 
/*******************************************************************************************/
